.banner_main_container{
   margin-top: 100px;
 
}
.banner_container{
    margin: 20px;
}
.banner_main_container span{
    font-size: 70px;
    font-weight: 600;
}
.banner_container p{
    font-size: 20px;
    color: grey;
}